.container2{
    margin: 20px 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "item1 item2 item3"
                         "item4 item5 item6"
                         "item7 item8 item9";
    gap: 1.3rem;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
    border: 3px solid #0095be;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    background-color: white;
    place-items: start;
    place-content: center;
}
.content a{
    padding: 10px;
    text-decoration: none;
    color: red;
    margin-bottom: 0px;
}
.content h2{
    padding: 10px;
    font-size: 20px;
}
.content p{
    padding: 10px;
}
.cat{
    width: 300px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
}
.item2{
    grid-row: span 3;
}
.item4{
    grid-row: span 2;
    img{
        width: 300px;
        margin: 0 auto;
    }
}
.item6{
    grid-column-start: 3;
    grid-column-end: 3;
}
.item5{
    padding: 0;
    h2{
        margin-top: -35px;
        width: 610px;
        background-color: red;
        display:flex;
        align-items: start;
        height: 20px;
    }
}
.item3{
    padding: 0;
    a{
        width: 610px;
        background-color: #fc2e1b;
        color: white;
        margin-bottom: -35px;
    }
}
// @media screen and (max-width:768px){
//     .item1{
//         grid-column-start: 1;
//         grid-row-end: 1;
//         grid-area: span 3;
//     }
//     .item2{
//         grid-column-start: 1;
//         grid-row-end: 2;
//         grid-area: span 3;
//     }
//     .item3{
//         grid-column-start: 1;
//         grid-row-end: 3;
//         grid-area: span 3;
//     }
//     .item4{
//         grid-column-start: 1;
//         grid-row-end: 4;
//         grid-area: span 3;
//     }
//     .item5{
        
//         grid-area: span 3;
//     }
//     .item6{
        
//         grid-area: span 3;
//     }
// }